// Color Variables
$background:#fff;

$green-100:#F2FEF6;
$green-300:#B1F3C7;
$green-500:#57D180;
$green-700:#1BAB4C;

$grey-300:#D1D5DB;
$grey-500:#6B7280;
$grey-700:#374151;
$grey-900:#111827;


// Font Variables
$heading-font: 'Chivo',
sans-serif;
$body-font:'Overpass',
sans-serif;



// Font Size Variables
$step0: 1.2rem;
$base-font: 1.5rem;
$step01: 2.1rem;
$step02: 2.8rem;
$step03: 3.7rem;
$step04: 5rem;
$step05: 6.7rem;
$step06:8.9rem;
$step07:11.9rem;

$bora10:1rem;