@import url("https://fonts.googleapis.com/css2?family=Chivo&family=Overpass:wght@300;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (min-width: 2860px) {
  html {
    font-size: 200%;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

p,
article {
  word-break: break-word;
  hyphens: auto;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #374151;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo", sans-serif;
}

.section-heading {
  font-size: 3.7rem;
}

.scale-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mb-8 {
  margin-bottom: 0.8rem !important;
}

.mb-16 {
  margin-bottom: 1.6rem !important;
}

.mb-24 {
  margin-bottom: 2.4rem !important;
}

.mb-32 {
  margin-bottom: 3.2rem !important;
}

.mb-40 {
  margin-bottom: 4rem !important;
}

.text-center {
  text-align: center !important;
}

.navbar {
  width: 100vw;
  padding: 0 5vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  align-items: center;
}
.navbar-logo {
  height: 100%;
  width: 10rem;
}

.footer {
  width: 100vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F2FEF6;
}
.footer > * {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1rem;
}
.footer-about {
  width: 30%;
}
.footer-about-logo {
  width: 20rem;
}
.footer-site {
  width: 20%;
  text-align: center;
}
.footer-category {
  width: 20%;
  text-align: center;
}
.footer-address {
  width: 30%;
  text-align: right;
}
.footer-address a {
  display: block;
}

.copyright {
  background-color: #F2FEF6;
  text-align: center;
  width: 100vw;
}

.hero {
  width: 100vw;
  height: 100vh;
  padding: 5vw;
  padding-left: 5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.hero-logo {
  position: absolute;
  width: 10rem;
  top: 5vw;
  left: 5vw;
}
.hero-content {
  width: 40%;
  position: relative;
}
.hero-content-slide {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 90%;
}
.hero-content .hero-cta {
  position: absolute;
  left: 0;
  bottom: 5vw;
}
.hero-images {
  width: 60%;
  position: relative;
}
.hero-images-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  overflow: hidden;
}
.hero-images-slide img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.hero-content-slide.toSlide-js {
  overflow: hidden;
  z-index: 5;
}
.hero-content-slide.toSlide-js strong {
  display: inline-block;
  color: #6B7280;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  transform: translateY(100%);
  opacity: 0;
  transition: 600ms cubic-bezier(0.87, 0, 0.13, 1);
  z-index: -10;
  backface-visibility: hidden;
}
.hero-content-slide.toSlide-js h1 {
  font-size: 5rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
  transform: translateX(100%);
  transition: 900ms cubic-bezier(0.87, 0, 0.13, 1);
  z-index: -10;
  opacity: 0;
  backface-visibility: hidden;
  background-color: #fff;
}
.hero-content-slide.toSlide-js p {
  margin-bottom: 2.5rem;
  overflow: hidden;
  transform: translateY(100%);
  opacity: 0;
  transition: 600ms cubic-bezier(0.87, 0, 0.13, 1) 400ms;
  z-index: -10;
  backface-visibility: hidden;
  color: #6B7280;
}
.hero-content-slide.toSlide-js a {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  transition: 600ms cubic-bezier(0.87, 0, 0.13, 1) 600ms;
  z-index: -10;
  backface-visibility: hidden;
}

.hero-content-slide.toSlide-js.active strong {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slide.toSlide-js.active h1 {
  transform: translateX(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slide.toSlide-js.active p {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slide.toSlide-js.active a {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slide.toSlide-js.wasActive strong {
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}

.hero-content-slide.toSlide-js.wasActive h1 {
  transform: translateX(-100%);
  opacity: 0;
}

.hero-content-slide.toSlide-js.wasActive p {
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}

.hero-content-slide.toSlide-js.wasActive a {
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}

.hero-images {
  overflow: hidden;
}

.hero-images-slide {
  transform: translateX(100%) scale(1.7);
  transition: 900ms cubic-bezier(0.87, 0, 0.13, 1) 300ms;
  z-index: -10;
  opacity: 0;
  backface-visibility: hidden;
}

.hero-images-slide.activeImage {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 10;
}

.hero-images-slide.wasActiveImage {
  transform: translateX(-100%) scale(1);
  opacity: 0;
}

.home-about {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-about h3 {
  width: 20%;
}
.home-about p {
  width: 60%;
}

.whyUs {
  width: 100vw;
  padding: 5vw;
}
.whyUs-title {
  text-align: center;
  padding: 5vw;
  padding-bottom: 0;
  background-color: #F2FEF6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 0.5rem solid #1BAB4C;
}
.whyUs-title p {
  width: 50%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.whyUs-content {
  padding: 5vw;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2FEF6;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0.5rem solid #1BAB4C;
}
.whyUs-content-col {
  width: 30%;
}
.whyUs-content-col p {
  margin-bottom: 5vw;
}

.col-left {
  text-align: left;
}

.col-right {
  text-align: right;
}

.productListing {
  width: 100vw;
  padding: 5vw;
}

.productListing-content {
  margin-bottom: 5vw;
}
.productListing-content p {
  color: #6B7280;
  display: flex;
  justify-content: space-between;
}
.productListing-content p span {
  width: 60%;
}

.productListing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30rem 30rem;
  gap: 2.5vw;
  grid-template-areas: "productOne productTwo productThree" "productOne productFour productFive";
  padding-bottom: 5vw;
}

.productOne {
  grid-area: productOne;
}

.productTwo {
  grid-area: productTwo;
}

.productThree {
  grid-area: productThree;
}

.productFour {
  grid-area: productFour;
}

.productFive {
  grid-area: productFive;
}

.productListing-grid .product {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(27, 171, 76, 0.15);
  position: relative;
}
.productListing-grid .product img {
  border-radius: 1rem;
}
.productListing-grid .product .productDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 1rem;
  background-color: rgba(177, 243, 199, 0.4);
  padding: 2rem;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  transform: translateY(100%);
  transition: 400ms cubic-bezier(0.87, 0, 0.13, 1);
}
.productListing-grid .product .productDetails h3 {
  font-size: 2.1rem;
}

.productListing-grid .product:hover .productDetails {
  transform: translateY(0);
}

.homeContact {
  padding: 5vw;
  background-color: #B1F3C7;
}
.homeContact > * {
  width: 65%;
  margin: 0 auto;
}
.homeContact-cta {
  display: flex;
  justify-content: space-around;
}

.homeGallery {
  width: 100vw;
}
.homeGallery h2 {
  padding: 5vw;
  padding-bottom: 0;
}
.homeGallery-swiper {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 30rem;
  grid-auto-flow: column;
  grid-template-rows: 30rem;
  grid-auto-columns: 30rem;
  align-items: stretch;
  gap: 0;
  overflow: scroll hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.homeGallery-swiper img {
  width: 100%;
  object-fit: cover;
}
.homeGallery-swiper::-webkit-scrollbar {
  background-color: transparent;
  height: 1px;
}

.primaryCta {
  background-color: #1BAB4C;
  color: #fff;
  padding: 1.2rem 5rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
}

.secondaryCta {
  background-color: transparent;
  border: 2px solid #57D180;
  color: #374151;
  padding: 1.2rem 5rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
