@import url("https://fonts.googleapis.com/css2?family=Chivo&family=Overpass:wght@300;400;600&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (min-width: 2860px) {
  html {
    font-size: 200%;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 100%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 1rem;
  border-radius: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #1BAB4C;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

p,
article {
  word-break: break-word;
  hyphens: auto;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #374151;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chivo", sans-serif;
}

.section-heading {
  font-size: 3.7rem;
}
@media (max-width: 680px) {
  .section-heading {
    font-size: 2.8rem;
  }
}

.scale-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mb-8 {
  margin-bottom: 0.8rem !important;
}

.mb-16 {
  margin-bottom: 1.6rem !important;
}

.mb-24 {
  margin-bottom: 2.4rem !important;
}

.mb-32 {
  margin-bottom: 3.2rem !important;
}

.mb-40 {
  margin-bottom: 4rem !important;
}

.text-center {
  text-align: center !important;
}

.navbar {
  width: 100vw;
  padding: 0 5vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-right: 5vw;
  align-items: center;
  z-index: 100;
  background-color: rgba(242, 254, 246, 0.7);
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid #fff;
}
@media (max-width: 900px) {
  .navbar {
    backdrop-filter: none;
  }
}
.navbar-logo {
  height: 5vw;
  width: 10rem;
}
.navbar-mobile {
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transform: translateX(-150%);
  transition: 400ms cubic-bezier(0.87, 0, 0.13, 1);
  align-items: center;
  flex-direction: column;
  z-index: 100;
  background-color: rgba(242, 254, 246, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border: 0.5px solid rgba(242, 254, 246, 0.8);
  box-shadow: 0 2px 2px 0 rgba(66, 66, 66, 0.08), 0 2px 5px 2px rgba(66, 66, 66, 0.16);
}
@media (max-width: 900px) {
  .navbar-mobile {
    width: 100vw;
  }
}
.navbar-mobile li {
  font-size: 6.7rem;
  color: #1BAB4C;
  font-weight: 700;
}
.navbar-desktop {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .navbar-desktop {
    display: none;
  }
}
.navbar-desktop li a:not(.buyBtn):hover {
  color: #1BAB4C;
}
.navbar-desktop li a.buyBtn {
  padding: 0.75rem 2.5rem;
}
.navbar-menuIcon {
  display: none;
}
@media (max-width: 900px) {
  .navbar-menuIcon {
    display: block;
  }
}
.navbar-menuIcon button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
  z-index: 200;
}
.navbar-menuIcon button:focus {
  outline: 2px solid #1BAB4C;
  outline-offset: 2px;
}
.navbar-menuIcon button span {
  display: inline-block;
  width: 70%;
  height: 3px;
  background-color: #1BAB4C;
  transition: 400ms cubic-bezier(0.87, 0, 0.13, 1);
}
.navbar-menuIcon button span:nth-child(1) {
  width: 50%;
}

.navbar-mobile.active {
  transform: translateX(0);
}

.menuBtn.active span:nth-child(1) {
  transform: translateX(100%);
}
.menuBtn.active span:nth-child(2) {
  transform: translateX(0) rotate(45deg);
}
.menuBtn.active span:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
}

.footer {
  width: 100vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #F2FEF6;
}
@media (max-width: 900px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer > * {
  padding: 2.5rem;
  border-radius: 1rem;
}
.footer-about {
  width: 30%;
}
@media (max-width: 900px) {
  .footer-about {
    width: 100%;
    text-align: center;
  }
}
.footer-about-logo {
  width: 20rem;
}
@media (max-width: 900px) {
  .footer-about-logo {
    margin: 0 auto;
  }
}
.footer-site {
  width: 20%;
  text-align: center;
}
@media (max-width: 900px) {
  .footer-site {
    width: 50%;
  }
}
.footer-category {
  width: 20%;
  text-align: center;
}
@media (max-width: 900px) {
  .footer-category {
    width: 50%;
  }
}
.footer-address {
  width: 30%;
  text-align: right;
}
@media (max-width: 900px) {
  .footer-address {
    width: 100%;
    text-align: center;
  }
}
.footer-address a {
  display: block;
}

.copyright {
  background-color: #F2FEF6;
  text-align: center;
  width: 100vw;
}

.hero {
  width: 100vw;
  padding: 5vw;
  height: 100vh;
  padding-left: 5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .hero {
    height: auto;
  }
}
.hero-logo {
  position: absolute;
  width: 10rem;
  top: 5vw;
  left: 5vw;
}
.hero-content {
  width: 40%;
}
@media (max-width: 900px) {
  .hero-content {
    width: 100%;
  }
}
.hero-content-slideWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .hero-content-slideWrapper {
    height: 45rem;
  }
}
.hero-content-slideWrapper_slide {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 90%;
}
@media (max-width: 900px) {
  .hero-content-slideWrapper_slide {
    width: 100%;
  }
}
.hero-images {
  width: 60%;
  position: relative;
}
@media (max-width: 900px) {
  .hero-images {
    width: 100%;
    height: 50vh;
  }
}
.hero-images-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  overflow: hidden;
}
.hero-images-slide img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.hero-content-slideWrapper_slide.toSlide-js {
  overflow: hidden;
  z-index: 5;
}
.hero-content-slideWrapper_slide.toSlide-js strong {
  display: inline-block;
  color: #6B7280;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  transform: translateY(100%);
  opacity: 0;
  transition: 600ms cubic-bezier(0.87, 0, 0.13, 1);
  z-index: -10;
  backface-visibility: hidden;
}
.hero-content-slideWrapper_slide.toSlide-js h1 {
  font-size: 5rem;
  margin-bottom: 2.5rem;
  overflow: hidden;
  transform: translateX(100%);
  transition: 900ms cubic-bezier(0.87, 0, 0.13, 1);
  z-index: -10;
  opacity: 0;
  backface-visibility: hidden;
  background-color: #fff;
}
@media (max-width: 365px) {
  .hero-content-slideWrapper_slide.toSlide-js h1 {
    font-size: 3.7rem;
  }
}
.hero-content-slideWrapper_slide.toSlide-js p {
  margin-bottom: 2.5rem;
  overflow: hidden;
  transform: translateY(100%);
  opacity: 0;
  transition: 600ms cubic-bezier(0.87, 0, 0.13, 1) 400ms;
  z-index: -10;
  backface-visibility: hidden;
  color: #6B7280;
}
.hero-content-slideWrapper_slide.toSlide-js a {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  transition: 600ms cubic-bezier(0.87, 0, 0.13, 1) 600ms;
  z-index: -10;
  backface-visibility: hidden;
}

.hero-content-slideWrapper_slide.toSlide-js.active strong {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slideWrapper_slide.toSlide-js.active h1 {
  transform: translateX(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slideWrapper_slide.toSlide-js.active p {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slideWrapper_slide.toSlide-js.active a {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.hero-content-slideWrapper_slide.toSlide-js.wasActive strong {
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}

.hero-content-slideWrapper_slide.toSlide-js.wasActive h1 {
  transform: translateX(-100%);
  opacity: 0;
}

.hero-content-slideWrapper_slide.toSlide-js.wasActive p {
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}

.hero-content-slideWrapper_slide.toSlide-js.wasActive a {
  transform: translateY(-100%);
  opacity: 0;
  transition: none;
}

.hero-images {
  overflow: hidden;
}

.hero-images-slide {
  transform: translateX(100%) scale(1.7);
  transition: 900ms cubic-bezier(0.87, 0, 0.13, 1) 300ms;
  z-index: -10;
  opacity: 0;
  backface-visibility: hidden;
}

.hero-images-slide.activeImage {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 10;
}

.hero-images-slide.wasActiveImage {
  transform: translateX(-100%) scale(1);
  opacity: 0;
}

.home-about {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  .home-about {
    flex-direction: column;
  }
}
.home-about h3 {
  width: 20%;
}
@media (max-width: 900px) {
  .home-about h3 {
    width: 100%;
  }
}
.home-about p {
  width: 60%;
}
@media (max-width: 900px) {
  .home-about p {
    width: 100%;
  }
}

.whyUs {
  width: 100vw;
  padding: 5vw;
}
.whyUs-title {
  text-align: center;
  padding: 5vw;
  padding-bottom: 0;
  background-color: #F2FEF6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-left: 0.5rem solid #1BAB4C;
}
@media (max-width: 900px) {
  .whyUs-title {
    text-align: left;
  }
}
.whyUs-title p {
  width: 50%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
@media (max-width: 900px) {
  .whyUs-title p {
    width: 100%;
  }
}
.whyUs-content {
  padding: 5vw;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2FEF6;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0.5rem solid #1BAB4C;
}
@media (max-width: 900px) {
  .whyUs-content {
    flex-direction: column;
  }
}
.whyUs-content-col {
  width: 30%;
}
@media (max-width: 900px) {
  .whyUs-content-col {
    width: 100%;
  }
}
.whyUs-content-col p {
  margin-bottom: 5vw;
}

.col-left {
  text-align: left;
}

.col-right {
  text-align: right;
}
@media (max-width: 900px) {
  .col-right {
    text-align: left;
  }
}

.productListing {
  width: 100vw;
  padding: 5vw;
}

.productListing-content {
  margin-bottom: 5vw;
}
.productListing-content p {
  color: #6B7280;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .productListing-content p {
    flex-direction: column;
    align-items: flex-start;
  }
}
.productListing-content p span {
  width: 60%;
}
@media (max-width: 900px) {
  .productListing-content p span {
    width: 100%;
    margin-bottom: 5vw;
  }
}

.productListing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30rem 30rem;
  gap: 2.5vw;
  grid-template-areas: "productOne productTwo productThree" "productOne productFour productFive";
  padding-bottom: 5vw;
}
@media (max-width: 900px) {
  .productListing-grid {
    display: block;
  }
}

.productOne {
  grid-area: productOne;
}

.productTwo {
  grid-area: productTwo;
}

.productThree {
  grid-area: productThree;
}

.productFour {
  grid-area: productFour;
}

.productFive {
  grid-area: productFive;
}

.productListing-grid .product {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(27, 171, 76, 0.15);
  position: relative;
}
@media (max-width: 900px) {
  .productListing-grid .product {
    margin-bottom: 5vw;
  }
}
.productListing-grid .product img {
  border-radius: 1rem;
}
.productListing-grid .product .productDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 1rem;
  background-color: rgba(177, 243, 199, 0.4);
  padding: 2rem;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  transform: translateY(100%);
  transition: 400ms cubic-bezier(0.87, 0, 0.13, 1);
}
.productListing-grid .product .productDetails h3 {
  font-size: 2.1rem;
}

.productListing-grid .product:hover .productDetails {
  transform: translateY(0);
}

.homeContact {
  padding: 5vw;
  background-color: #B1F3C7;
}
.homeContact > * {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 900px) {
  .homeContact > * {
    width: 100%;
    text-align: left;
  }
}
.homeContact-cta {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .homeContact-cta {
    flex-direction: column;
  }
  .homeContact-cta a {
    margin-bottom: 5vw;
  }
}

.homeGallery {
  width: 100vw;
}
.homeGallery h2 {
  padding: 5vw;
  padding-bottom: 0;
}
.homeGallery-swiper {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 30rem;
  grid-auto-flow: column;
  grid-template-rows: 30rem;
  grid-auto-columns: 30rem;
  align-items: stretch;
  gap: 0;
  overflow: scroll hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.homeGallery-swiper img {
  width: 100%;
  object-fit: cover;
}
.homeGallery-swiper::-webkit-scrollbar {
  background-color: transparent;
  height: 1px;
}

.aboutUs-header {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/4117545/pexels-photo-4117545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: 50%;
}
@media (max-width: 900px) {
  .aboutUs-header {
    height: 60vh;
  }
}

.aboutUs-grid-container {
  padding: 10vw 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5vw;
  grid-template-areas: "aboutUs mission" "aboutUs vision";
}
@media (max-width: 900px) {
  .aboutUs-grid-container {
    display: block;
  }
}
.aboutUs-grid-container .aboutUs {
  grid-area: aboutUs;
}
@media (max-width: 900px) {
  .aboutUs-grid-container .aboutUs {
    margin-bottom: 10vw;
  }
}
.aboutUs-grid-container .aboutUs p {
  margin-bottom: 1.6rem;
}
.aboutUs-grid-container .mission {
  grid-area: mission;
  position: relative;
}
@media (max-width: 900px) {
  .aboutUs-grid-container .mission {
    margin-bottom: 15vw;
  }
}
.aboutUs-grid-container .mission img {
  height: 30rem;
  border-radius: 1rem;
}
.aboutUs-grid-container .mission p {
  color: #111827;
  position: absolute;
  left: 50%;
  width: 60%;
  padding: 2.5rem;
  bottom: -2.5rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  background-color: rgba(242, 254, 246, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  border: 0.5px solid rgba(242, 254, 246, 0.8);
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.08), 0 2px 5px 2px rgba(150, 150, 150, 0.16);
}
@media (max-width: 900px) {
  .aboutUs-grid-container .mission p {
    width: 90%;
  }
}
.aboutUs-grid-container .mission p strong {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-bottom: 1.6rem;
  color: #1BAB4C;
}
.aboutUs-grid-container .vision {
  grid-area: vision;
  position: relative;
}
@media (max-width: 900px) {
  .aboutUs-grid-container .vision {
    margin-bottom: 15vw;
  }
}
.aboutUs-grid-container .vision img {
  height: 30rem;
  border-radius: 1rem;
}
.aboutUs-grid-container .vision p {
  color: #111827;
  position: absolute;
  left: 50%;
  width: 60%;
  padding: 2.5rem;
  bottom: -2.5rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  background-color: rgba(242, 254, 246, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  border: 0.5px solid rgba(242, 254, 246, 0.8);
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.08), 0 2px 5px 2px rgba(150, 150, 150, 0.16);
}
@media (max-width: 900px) {
  .aboutUs-grid-container .vision p {
    width: 90%;
  }
}
.aboutUs-grid-container .vision p strong {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1rem;
  margin-bottom: 1.6rem;
  color: #1BAB4C;
}

.contactPageWrapper {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 900px) {
  .contactPageWrapper {
    flex-direction: column;
    padding: 7.5rem 5vw;
  }
}
.contactPageWrapper-content {
  width: 50%;
  padding-right: 5vw;
}
@media (max-width: 900px) {
  .contactPageWrapper-content {
    width: 100%;
  }
}
.contactPageWrapper-image {
  width: 50%;
  height: 90vh;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 900px) {
  .contactPageWrapper-image {
    display: none;
  }
}

.formInput {
  position: relative;
  margin-bottom: 2.4rem;
}
.formInput label {
  font-family: "Chivo", sans-serif;
  margin-bottom: 1.6rem;
}
.formInput input {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.75rem 0;
  background-color: #B1F3C7;
  border: none;
  border-radius: 1rem;
  transition: 200ms ease;
  border: 2px solid #B1F3C7;
}
.formInput input:hover {
  border: 2px solid #1BAB4C;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}
.formInput input:focus {
  border: 2px solid #1BAB4C;
  outline: none;
}
.formInput textarea {
  width: 100%;
  min-height: 20rem;
  display: block;
  font-size: 1.8rem;
  padding: 0.75rem 0;
  background-color: #B1F3C7;
  border: none;
  border-radius: 1rem;
  resize: vertical;
}
.formInput textarea:hover {
  border: 2px solid #1BAB4C;
  box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
}
.formInput textarea:focus {
  border: 2px solid #1BAB4C;
  outline: none;
}

.formSubmitBtn {
  border: none;
  color: #fff;
  width: 100%;
  font-size: 1.8rem;
}

.productPage-header {
  width: 100vw;
  margin-bottom: 5rem;
}
.productPage-header--content img {
  height: 70vh;
}
.productPage-header--content h2 {
  display: inline-block;
  position: relative;
  z-index: 10;
  font-size: 5rem;
  text-align: center;
  padding: 5vw;
  margin-top: -7.5vw;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  background-color: rgba(242, 254, 246, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
  border: 0.5px solid rgba(242, 254, 246, 0.8);
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.08), 0 2px 5px 2px rgba(150, 150, 150, 0.16);
}

.productList-wrapper {
  padding: 5vw;
  width: 100vw;
}
@media (max-width: 900px) {
  .productList-wrapper {
    padding: 0;
  }
}
.productList-wrapper .productList-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  overflow-x: auto;
  border: 1px solid rgba(209, 213, 219, 0.5);
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
@media (max-width: 900px) {
  .productList-wrapper .productList-buttons {
    display: none;
  }
}
.productList-wrapper .productList-buttons button {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 2rem;
  color: #6B7280;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  outline: none;
}
.productList-wrapper .productList-buttons button.active {
  background-color: #F2FEF6;
  border-bottom: 3px solid #1BAB4C;
}
.productList-wrapper .productList-category {
  position: relative;
  border: 1px solid rgba(209, 213, 219, 0.5);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.productList-category--items .productHeading {
  display: none;
}
@media (max-width: 900px) {
  .productList-category--items .productHeading {
    display: block;
    text-align: center;
    font-size: 3.7rem;
  }
}

.productCard-container {
  display: none;
}
@media (max-width: 900px) {
  .productCard-container {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr;
    gap: 5vw;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    overflow-x: scroll;
    position: relative;
    padding: 10vw 0;
  }
}
.productCard-container .productCard {
  padding: 2.4rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(150, 150, 150, 0.08), 0 2px 5px 2px rgba(150, 150, 150, 0.16);
}
.productCard-container .productCard-image {
  height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
}
.productCard-container .productCard-details h2 {
  text-align: center;
}
.productCard-container .productCard-details a {
  width: 100%;
}

.productCard-container.active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5vw;
  padding: 5vw;
  background-color: #F2FEF6;
}
@media (max-width: 900px) {
  .productCard-container.active {
    grid-template-columns: 90%;
    grid-template-rows: 1fr;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    overflow-x: scroll;
    position: relative;
    background-color: #fff;
    padding: 10vw 0;
  }
}

.singleProductWrapper {
  width: 100vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 900px) {
  .singleProductWrapper {
    flex-direction: column;
  }
}
.singleProductWrapper .productImage {
  width: 50%;
  padding: 5vw 0;
}
@media (max-width: 900px) {
  .singleProductWrapper .productImage {
    width: 100%;
  }
}
.singleProductWrapper .productImage img {
  border-radius: 1rem;
}
.singleProductWrapper .productDetails {
  width: 45%;
  padding: 5vw 0;
}
@media (max-width: 900px) {
  .singleProductWrapper .productDetails {
    width: 100%;
  }
}
.singleProductWrapper .productDetails-content h2 {
  margin-bottom: 3.2rem;
}
.singleProductWrapper .productDetails-content h3 {
  margin-bottom: 1.6rem;
}
.singleProductWrapper .productDetails-content p,
.singleProductWrapper .productDetails-content ul {
  margin-bottom: 2.4rem;
}
.singleProductWrapper .productDetails a {
  width: 100%;
}

.primaryCta {
  background-color: #1BAB4C;
  color: #fff;
  padding: 1.2rem 5rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
  border: 2px solid #1BAB4C;
}

.secondaryCta {
  background-color: transparent;
  border: 2px solid #57D180;
  color: #374151;
  padding: 1.2rem 5rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
