.primaryCta {
    background-color: $green-700;
    color: $background;
    padding: 1.2rem 5rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: $bora10;
    text-align: center;

}

.secondaryCta {
    background-color: transparent;
    border: 2px solid $green-500;
    color: $grey-700;
    padding: 1.2rem 5rem;
    text-transform: uppercase;
    display: block;
    border-radius: $bora10;
    text-align: center;

}