.contactPageWrapper {
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(tab) {
        flex-direction: column;
        padding: 7.5rem 5vw;
    }


    &-content {
        width: 50%;
        padding-right: 5vw;

        @include breakpoint(tab) {
            width: 100%;
        }

    }

    &-image {
        width: 50%;

        height: 90vh;
        border-radius: $bora10;
        overflow: hidden;

        @include breakpoint(tab) {
            display: none;

        }
    }
}

.formInput {
    position: relative;
    margin-bottom: 2.4rem;


    label {
        font-family: $heading-font;
        margin-bottom: 1.6rem;


    }

    input {
        display: block;
        width: 100%;
        font-size: 1.8rem;
        padding: 0.75rem 0;
        background-color: $green-300;
        border: none;
        border-radius: $bora10;
        transition: 200ms ease;
        border: 2px solid $green-300;


        &:hover {
            border: 2px solid $green-700;
            box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08),
                0 1px 3px 1px rgba(66, 66, 66, 0.16);
        }

        &:focus {
            border: 2px solid $green-700;
            outline: none;
        }

    }

    textarea {
        width: 100%;
        min-height: 20rem;
        display: block;
        font-size: 1.8rem;
        padding: 0.75rem 0;
        background-color: $green-300;
        border: none;
        border-radius: $bora10;
        resize: vertical;

        &:hover {
            border: 2px solid $green-700;
            box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.08),
                0 1px 3px 1px rgba(66, 66, 66, 0.16);
        }

        &:focus {
            border: 2px solid $green-700;
            outline: none;
        }
    }
}

.formSubmitBtn {
    border: none;
    color: $background;
    width: 100%;
    font-size: 1.8rem;
}